{{#section 'admin_css'}}
<link rel="stylesheet" type="text/css" href="/assets/admin.css" />
{{/section}}

{{#section 'admin_script'}}
<script type="text/javascript">
    var validate = function(){
        if ($('#typeedit option:selected').text() == "Mobile")
        {
            $('#typeedit option:selected').text("1");
        }
        else{
            $('#typeedit option:selected').text("2");
        }

        switch($('#produceredit option:selected').text())
        {
            case "SamSung":
                $('#produceredit option:selected').text("1");
                break;
            case "Apple":
                $('#produceredit option:selected').text("2");
                break;
            case "Lenovo":
                $('#produceredit option:selected').text("3");
                break;
            case "Oppo":
                $('#produceredit option:selected').text("4");
                break;
            case "Huawei":
                $('#produceredit option:selected').text("5");
                break;
            case "Itel":
                $('#produceredit option:selected').text("6");
                break;
            case "Zenfone":
                $('#produceredit option:selected').text("7");
                break;
            case "Asus":
                $('#produceredit option:selected').text("8");
                break;
            default:
                $('#produceredit option:selected').text("9");
                break;
        }
        return true;
    }
    var valiadd = function(){
        if ($('#addtypenumber option:selected').text() == "Mobile")
        {
            $('#addtypenumber option:selected').text("1");
        }
        else{
            $('#addtypenumber option:selected').text("2");
        }

        switch($('#addproducernumber option:selected').text())
        {
            case "SamSung":
                $('#addproducernumber option:selected').text("1");
                break;
            case "Apple":
                $('#addproducernumber option:selected').text("2");
                break;
            case "Lenovo":
                $('#addproducernumber option:selected').text("3");
                break;
            case "Oppo":
                $('#addproducernumber option:selected').text("4");
                break;
            case "Huawei":
                $('#addproducernumber option:selected').text("5");
                break;
            case "Itel":
                $('#addproducernumber option:selected').text("6");
                break;
            case "Zenfone":
                $('#addproducernumber option:selected').text("7");
                break;
            case "Asus":
                $('#addproducernumber option:selected').text("8");
                break;
            default:
                $('#addproducernumber option:selected').text("9");
                break;
        }
        return true;
    }

    var changebackground = function(){
        $('#view-one-product-order-Delivered').css({'background':'yellow'});
    });
    }
</script>
{{/section}}


<!-- Container (The Band Section) -->
<div id="productall" class="container text-center">
    <h3>PRODUCT MANAGE</h3>
    <div class="container-fluid" style="padding-bottom: 20px">
        <ul class="list-button-manage" style="padding-bottom: 50px">
            <li class="col-sm-6"><a href="#add-product" data-parent="#productall" data-toggle="collapse">NEW</a></li>
            <li class="col-sm-6"><a href="#container-edit" data-parent="#productall" data-toggle="collapse">VIEW</a></li>
        </ul>
        <div id="add-product" class="collapse">
            <form class="form-horizontal"  method="post" onsubmit="return valiadd();" action="">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Name Product:</label>
                    <div class="col-sm-9">
                        <input type="name" class="form-control" name="addnameproduct" placeholder="Enter new name's product">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Product Information:</label>
                    <div class="col-sm-7"> 
                        <textarea class="form-control" id="comments" name="addinfoproduct" placeholder="Enter product's infomation" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Price:</label>
                    <div class="col-sm-5"> 
                        <input type="number" class="form-control" name="addpriceproduct" id="pwd" placeholder="Enter product's price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Import Day:</label>
                    <div class="col-sm-3"> 
                        <input type="date" class="form-control" id="pwd" name="adddayimportproduct" placeholder="Enter new product's information">
                    </div>
                    <label class="control-label col-sm-4" for="pwd">Amout:</label>
                    <div class="col-sm-2"> 
                        <input type="number" class="form-control" name="addamoutproduct" id="pwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Type:</label>
                    <select class="form-control col-sm-2" onsubmit= "return valiadd();" name="addtypeproduct" id="addtypenumber" style="width: 18.4%;margin-left: 1.6%">
                        {{#each type}}
                        <option>{{TenLoai}}</option>
                        {{/each}}
                    </select>
                    <label class="control-label col-sm-4" for="pwd">Producer:</label>
                    <select class="form-control col-sm-2" onsubmit= "return valiadd();" id="addproducernumber" name="addproducerproduct" onsubmit="return validate();" style="width: 20%">
                        {{#each brand}}
                        <option>{{TenHang}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                        <button value="addone" name="addone" type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div  id="container-edit" class="col-sm-12 collapse">
            <div class="col-sm-12">
                <div class="col-sm-9 search-group">
                    <input class="text-search" type="text" placeholder="Search.." style="width: 70%">
                    <button id="button-search" type="submit" style="right: 10px"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-3 sort-group">
                    <select class="form-control col-sm-2" id="s">
                        <option>Decrease Character</option>
                        <option>Ascending Character</option>
                        <option>Decrease Price</option>
                        <option>Ascending Price</option>
                    </select>
                </div>  
            </div> 
            <div id="list-product-edit" class="col-sm-12">
                {{#each productall}}

                <div class="panel panel-default" >
                    <form method="post" onsubmit="return true;"  action="" class="form-horizontal">
                        <input style="display: none;" type="text" name="sttproduct" value="{{STTSanPham}}">
                        <div id="view-one-product" class="form-group">
                            <div class="col-sm-2">
                                <img class="img-reponsive" src="/img/{{TenLoai}}/{{STTSanPham}}/small1.png" alt="thumbnail" style="max-height: 50px; max-width: 40px; margin-top: 20px" >
                            </div>
                            <label class="control-label col-sm-5"  style="margin-top: 20px">{{TenSP}}</label>
                            <label class="control-label col-sm-2" style="margin-top: 20px; color:firebrick">{{number_format GiaBan}} ₫</label>
                            <a data-toggle="collapse"  data-parent="#list-product-edit" href="#{{STTSanPham}}"><i class="fa fa-edit col-sm-1" style="font-size:25px; margin-top: 20px"></i></a>
                            <button  type="button" data-toggle="modal" data-target="#myModal{{STTSanPham}}" class="material-icons col-sm-1" style="font-size:30px; margin-top: 15px; background: none; border: none;">delete_forever</button>
                            <!-- Modal -->
                            <div id="myModal{{STTSanPham}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Message!!!</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you want delete {{TenSP}} product???</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="deleteone" value= "deleteone" type="submit" class="btn btn-default">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No, Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="{{STTSanPham}}" class="collapse" name="sttSP" >
                            <form method="post" onsubmit="return validate();" action="" class="form-horizontal" >
                                <input style="display: none;" type="text" name="sttproduct2" value="{{STTSanPham}}">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="email">Name Product:</label>
                                    <div class="col-sm-9">

                                        <input name="nameproduct" type="name" class="form-control" id="email" placeholder="Enter name new product" value="{{TenSP}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="pwd">Product Information:</label>
                                    <div class="col-sm-7"> 
                                        <textarea class="form-control" id="comments" name="infoproduct" placeholder="Enter product's infomation" rows="3">{{ThongTinSP}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="pwd">Price:</label>
                                    <div class="col-sm-5"> 
                                        <input name="priceproduct" type="number" class="form-control" id="pwd" placeholder="Enter product's price" value="{{GiaBan}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="pwd">Import Day:</label>
                                    <div class="col-sm-3"> 
                                        <input type="date" class="form-control" id="pwd" value="{{NgayNhapHang}}">
                                    </div>
                                    <label class="control-label col-sm-4" for="pwd">Amout:</label>
                                    <div class="col-sm-2"> 
                                        <input name="amoutproduct" type="number" class="form-control" id="pwd" value="{{SoLuong}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="pwd">Type:</label>
                                    <select class="form-control col-sm-2" id="typeedit" name="typeedit2" style="width: 18.4%;margin-left: 1.6%">
                                        <option selected>{{TenLoai}}</option>
                                        {{#each type2}}
                                        <option>{{TenLoai}}</option>
                                        {{/each}}
                                    </select>
                                    <label class="control-label col-sm-4" for="pwd">Producer:</label>
                                    <select class="form-control col-sm-2" id="produceredit" name="produceredit2" style="width: 20%">
                                        <option selected>{{TenHang}}</option>
                                        {{#each brand2}}
                                        <option>{{TenHang}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group"> 
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button value="editone" name="editone" type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <br>
</div>

<!-- Container (TYPE PRODUCT MANAGE)-->
<div id="producttypeall" class="bg-1">
    <!-- <div class="container">
<h3 class="text-center">PRODUCT TYPE MANAGE</h3>
<p class="text-center">This is list product of 2 product type.<br> You can view them!</p>
<ul class="list-button-producttype">
<li class="col-sm-6"><a href="#mobile-product" data-parent="#mobile-product" data-toggle="collapse">MOBILE</a></li>
<li class="col-sm-6"><a href="#tablet-product" data-parent="#tablet-product" data-toggle="collapse">TABLET</a></li>
</ul>
<div class="row text-center">
<div class="col-sm-12">
<div  id="mobile-product" class="col-sm-12 collapse">
<div class="col-sm-12">
<div class="col-sm-9 search-group">
<input class="text-search" type="text" placeholder="Search.." style="width: 70%; background: none">
<button id="button-search" type="submit" style="right: 10px"><i class="fa fa-search"></i></button>
</div>
<div class="col-sm-3 sort-group">
<select class="form-control col-sm-2" id="s" style="background: none; border: none; color: #f1f1f1">
<option  style="color: #777">Decrease Character</option>
<option style="color: #777">Ascending Character</option>
<option style="color: #777">Decrease Price</option>
<option style="color: #777">Ascending Price</option>
</select>
</div>  
</div> 
<div class="col-sm-12">
<div id="list-product-mobile">
{{#each productsmobile}}
<div id="view-one-product-type" class="panel panel-default">
<div class="col-sm-2">
<img class="img-reponsive" src="/img/{{TenLoai}}/{{STTSanPham}}/small1.png" alt="thumbnail" style="max-height: 50px; max-width: 40px; padding-top:10px" >
</div>
<label class="control-label col-sm-8" style="margin-top: 15px; text-align: left">{{TenSP}}</label>
<label class="control-label col-sm-2"  style="margin-top: 15px; color: #fffaa8">{{number_format GiaBan}} ₫</label>
<br>
</div> 
{{/each}}
</div> 
</div> 
</div>
<div  id="tablet-product" class="col-sm-12 collapse">
<div class="col-sm-12">
<div class="col-sm-9 search-group">
<input class="text-search" type="text" placeholder="Search.." style="width: 70%; background: none">
<button id="button-search" type="submit" style="right: 10px"><i class="fa fa-search"></i></button>
</div>
<div class="col-sm-3 sort-group">
<select class="form-control col-sm-2" id="s" style="background: none; border: none; color: #f1f1f1">
<option  style="color: #777">Decrease Character</option>
<option style="color: #777">Ascending Character</option>
<option style="color: #777">Decrease Price</option>
<option style="color: #777">Ascending Price</option>
</select>
</div>  
</div> 
<div class="col-sm-12">
<div id="list-product-mobile">
{{#each productstablet}}
<div id="view-one-product-type" class="panel panel-default">
<div class="col-sm-2">
<img class="img-reponsive" src="/img/{{TenLoai}}/{{STTSanPham}}/small1.png" alt="thumbnail" style="max-height: 50px; max-width: 40px; padding-top:10px" >
</div>
<label class="control-label col-sm-8" style="margin-top: 15px; text-align: left">{{TenSP}}</label>
<label class="control-label col-sm-2"  style="margin-top: 15px; color: #fffaa8">{{number_format GiaBan}} ₫</label>
<br>
</div> 
{{/each}}
</div> 
</div> 
</div>
</div>
</div>
</div>  -->
    <div class="container">
        <div class="row">
            <h3 class="text-center">PRODUCT TYPE MANAGE</h3>
            <p class="text-center">This is list product type.<br> You can manage them!</p>
            <button class="btn-newtype" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModaladdtype">
                <span class="glyphicon glyphicon-plus-sign"></span> &nbsp;New
            </button>
            <div id="myModaladdtype" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <form method="post" onsubmit="return true;" action="" class="form-horizontal">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Type</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-bottom: 15px;">
                                        <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Type name: </label>
                                        <input name="addtypename" type="name" class="col-sm-9 txt-addtypename" placeholder="Enter type name..." >
                                    </div>
                                    <div class="col-sm-12">
                                        <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Info Type: </label>
                                        <input name="addtypeinfo" type="text" class="col-sm-9 txt-addtypeinfo" placeholder="Enter type info..." >
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button value="okaddtype" name="okaddtype" type="submit" class="btn btn-default">Ok</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewalltype">
            {{#each type as |ty|}}
            <form class="form-horizontal" id="onetype" method="post" onsubmit="return true;" action="">
                <div class="panel-group" id="accordion" name ="viewtype">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#viewalltype" href="#{{STTLoai}}t" class="col-sm-3 onetypeclick">
                            {{TenLoai}}
                        </a>
                        <button id="rycebintype" type="submit" data-toggle="modal" data-target="#delete{{STTLoai}}"><i class="material-icons">delete_forever</i></button>
                        <input style="display: none;" type="text" name="stttype" value="{{STTLoai}}">
                        <div id="delete{{STTLoai}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete Type</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label  class="control-label" for="pwd" style="color: #333333;">Do you want delete type {{TenLoai}}???</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" name="deletetype" value="deletetype" class="btn btn-default">Yes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="list-view-type">
                        <div id="{{STTLoai}}t"  class="panel-collapse collapse">
                           <label>{{ThongTin}}</label>
                             <button style="background: none; border: none;" id="edittype" type="submit" data-toggle="modal" data-target="#edit{{STTLoai}}tt" ><i class="material-icons">edit</i></button>
                            
                              <input style="display: none;" type="text" name="stttype2" value="{{STTLoai}}">
                             <form class="form-horizontal" id="onetype" method="post" onsubmit="return true;" action="">
                             <div id="edit{{STTLoai}}tt" class="modal fade" role="dialog">
                            
                                <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Type</h4>
                                    </div>
                                    <div class="modal-body">
                                       <div class="row">
                                    <div class="col-sm-12" style="margin-bottom: 15px;">
                                        <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Type name: </label>
                                        <input name="edittypename" type="name" class="col-sm-9 txt-addtypename" placeholder="Enter type name..." value="{{TenLoai}}" >
                                    </div>
                                    <div class="col-sm-12">
                                        <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Info Type: </label>
                                        <input name="edittypeinfo" type="text" class="col-sm-9 txt-addtypeinfo" placeholder="Enter type info..." value="{{ThongTin}}">
                                    </div>
                                </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" name="okedittype" value="okedittype" class="btn btn-default">Ok</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                           
                            </div>
                         </form>
                        
                    </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
    </div>


</div>

<!-- Container (Contact Section) -->
<div id="producerall" class="container">
    <h3 class="text-center">PRODUCER</h3>
    <p class="text-center"><em>We have producers: {{#each brand}}- {{TenHang}}{{/each}}</em></p>


    <ul class="nav nav-tabs">

        {{#each brand}}
        <li><a data-toggle="tab" href="#{{STTHang}}tabhang">{{TenHang}}</a></li>
        {{/each}}
        <li><a data-toggle="modal" data-target="#Modalnewproducer">+</a></li>
        <form class="form-horizontal" id="oneproducer" method="post" onsubmit="return true;" action="">
            <div id="Modalnewproducer" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">New Producer</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom: 15px;">
                                    <label  class="control-label col-sm-4" for="pwd" style="color: #333333;">Name Producer: </label>
                                    <input name="addproducername" type="name" class="col-sm-8 txt-addtypename" placeholder="Enter name producer..." >
                                </div>
                                <div class="col-sm-12">
                                    <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Info Producer: </label>
                                    <textarea class="form-control" id="comments" name="addproducerinfo" placeholder="Enter producer infomation" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button name="okaddproducer" value="okaddproducer" type="submit" class="btn btn-default">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </ul>

    <div class="tab-content">
        {{#each brand as |bra|}}
         <form class="tab-pane fade" id="{{STTHang}}tabhang" method="post" onsubmit="return true;" action="">
        <div class="row">  
            <input style="display: none;" type="text" name="sttproducer" value="{{STTHang}}">
            <div><img src="/img/TypeProduct/{{STTHang}}.png" alt="logo" class="logo-producer"></div>
            <label style="margin-top: 30px">{{ThongTin}}</label>
            <button id="editproducer" type="submit" data-toggle="modal" data-target="#edit{{STTHang}}t" ><i class="material-icons">edit</i></button>
            <button id="rycebinproducer" type="submit" data-toggle="modal" data-target="#delete{{STTHang}}t" ><i class="material-icons">delete_forever</i></button>
            <div id="delete{{STTHang}}t" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Producer</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom: 15px;">
                                    <label class="control-label" for="pwd" style="color: #333333;">Do you want delete producer {{TenHang}}??? </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button name="okdeleteproducer" value="okdeleteproducer" type="submit" class="btn btn-default">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            
            <div id="edit{{STTHang}}t" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit {{TenHang}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom: 15px;">
                                    <label  class="control-label col-sm-4" for="pwd" style="color: #333333;">Name Producer: </label>
                                    <input name="editproducername" type="name" class="col-sm-8 txt-addtypename" placeholder="Enter name producer..." value ="{{TenHang}}">
                                </div>
                                <div class="col-sm-12">
                                    <label  class="control-label col-sm-3" for="pwd" style="color: #333333;">Info Producer: </label>
                                    <textarea class="form-control" id="comments" name="editproducerinfo" placeholder="Enter producer infomation" rows="5">{{ThongTin}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button name="okeditproducer" value="okeditproducer" type="submit" class="btn btn-default">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            
            
        </div>
        </form>
        {{/each}}
    </div>

</div>

<!-- Container (List order) -->
<div id="listorderall" class="bg-1">
    <div class="container">
        <h3 class="text-center">ORDER MANAGE</h3>
        <p class="text-center">List order <br> You can view them!</p>
        <div class="col-sm-12 search-group">
            <input class="text-search" type="text" placeholder="Search.." style="width: 40%; background: none; margin-left: 5%">
            <button id="button-search" type="submit" style="right: 10px"><i class="fa fa-search"></i></button>
        </div>
        <div>
            <div class="list-view-order-button">
                <a class="col-sm-1" href="#tablet-product" data-toggle="collapse">ID</a></li>
            <a class="col-sm-2" href="#tablet-product" data-toggle="collapse">Account</a></li>
        <a class="col-sm-2" href="#tablet-product" data-toggle="collapse">Date establish</a></li>
    <a class="col-sm-3" href="#tablet-product" data-toggle="collapse">Adress</a></li>
<a class="col-sm-2" href="#tablet-product" data-toggle="collapse">Reciver</a></li>
<a class="col-sm-2" href="#tablet-product" data-toggle="collapse">Status</a></li>
</div>

<div class="col-sm-12">
    <div id="row">
        {{#each listorder as |listor|}}
        <form method="post" onsubmit="return true;"  action="" class="form-horizontal">
            <div id="view-one-product-order" class="row view-one-product-order">
                <input style="display: none" type="text" name="sttOr" value="{{STTDonHang}}">
                <label class="control-label col-sm-1"  style="margin-top: 10px">{{listor.STTDonHang}}</label>
                <label class="control-label col-sm-2"  style="margin-top: 10px">{{listor.STTTaiKhoan}}</label>
                <label class="control-label col-sm-2"  style="margin-top: 10px">2018-{{listor.STTDonHang}}-20</label>
                <label class="control-label col-sm-3"  style="margin-top: 10px">{{listor.DiaChi}}</label>
                <label class="control-label col-sm-2"  style="margin-top: 10px">{{listor.NguoiNhan}}</label>
                <label class="control-label col-sm-2"  style="margin-top: 10px">{{listor.TinhTrang}}&nbsp;<a data-toggle="modal" data-target="#ModalOrder{{listor.STTDonHang}}"><i style="font-size: 15px;" class="material-icons">edit</i></a></label>

                <div id="ModalOrder{{listor.STTDonHang}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Change Order {{listor.STTDonHang}}</h4>
                            </div>
                            <div class="modal-body">
                                <label class="control-label col-sm-6"  style="margin-top: 10px; color: #111;">Choice Status Option {{listor.STTDonHang}}: </label>
                                <select name="orderedit" class="form-control col-sm-4" style="max-width: 40%; margin-left: 1.6%">
                                    <option>Delivered</option>
                                    <option>Being Delivered</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button name="updateorder" value="updateorder" type="submit" class="btn btn-default">Ok</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
        {{/each}}
    </div> 

</div>

</div>
</div>
</div>