{{#section 'index_script'}}
    <script type="text/javascript">
        function changeButtonDisplay(temp) {
            var button = document.getElementById(temp.id);
            button.style = "background-color: #F6F6F6; height: 80px;";
        }
        function backToDefault(temp) {
            var button = document.getElementById(temp.id);
            button.style = "background-color: white; height: 80px;";
        }
    </script>
{{/section}}


{{#with account}}
<!--User Label-->
<div class="container-fluid" style="height: 130px; border-bottom: 3px groove;">
    <div style="padding-left: 50px; padding-top: 30px;">
        <span>
            <a href="#">
                <img src="/img/account/logo/default.png" class="img-circle" alt="Avatar" style="height: 70px;">
            </a>
        </span>
        <span style="font-weight: 700; font-size: 16pt; padding-left: 10px;">{{HoTen}}</span>
    </div>
</div>

<!--Group Box Function-->
<div class="container" style="padding-top: 50px;">
    <div style="padding-top: 10px;">
        <div class="row">
            <div class="col-sm-6 col-md-3 thumbnail" style="height: 80px;" name="YourOrder" id="YourOrder" onmouseover="changeButtonDisplay(this)"
                onmouseout="backToDefault(this)">
                <a href="/account/order">
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;">
                            <span style="padding-left: 10px;">
                                <img src="/img/account/logo/box.png" style="height: 50px;">
                            </span>
                        </div>
                        <div class="col-md-9" style="padding-top: 10px;">
                            <div style="font-size: 13pt; color: black; padding-left: 10px;">Your Orders</div>
                            <div style="font-size: 9pt; color: #808080; padding-left: 10px;">Track, return, or buy things again</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-6 col-md-3 thumbnail" style="height: 80px;" name="Security" id="Security" onmouseover="changeButtonDisplay(this)"
                onmouseout="backToDefault(this)">
                <a href="/account/info">
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;">
                            <span style="padding-left: 10px;">
                                <img src="/img/account/logo/lock.png" style="height: 50px;">
                            </span>
                        </div>
                        <div class="col-md-9" style="padding-top: 10px;">
                            <div style="font-size: 13pt; color: black; padding-left: 10px;">Login & security</div>
                            <div style="font-size: 9pt; color: #808080; padding-left: 10px;">Edit login, name, and mobile number</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 thumbnail" style="height: 80px;" name="Address" id="Address" onmouseover="changeButtonDisplay(this)"
                onmouseout="backToDefault(this)">
                <a href="/account/address">
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;">
                            <span style="padding-left: 10px;">
                                <img src="/img/account/logo/address.png" style="height: 50px;">
                            </span>
                        </div>
                        <div class="col-md-9" style="padding-top: 10px;">
                            <div style="font-size: 13pt; color: black; padding-left: 10px;">Your Address</div>
                            <div style="font-size: 9pt; color: #808080; padding-left: 10px;">Edit addresses for orders and gifts</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-6 col-md-3 thumbnail" style="height: 80px;" name="Payment" id="Payment" onmouseover="changeButtonDisplay(this)"
                onmouseout="backToDefault(this)">
                <a href="#">
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;">
                            <span style="padding-left: 10px;">
                                <img src="/img/account/logo/card.png" style="height: 50px;">
                            </span>
                        </div>
                        <div class="col-md-9" style="padding-top: 10px;">
                            <div style="font-size: 13pt; color: black; padding-left: 10px;">Payment options</div>
                            <div style="font-size: 9pt; color: #808080; padding-left: 10px;">Edit or add payment methods</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{/with}}
<br>
<br>
<br>
<br>
<br>