<div style="margin: auto; width: 45%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Login & security</span>
    </div>
    <div style="font-size: 18pt; padding-top: 15px;">
        <b>Login & security</b>
    </div>
    {{#with account}}
    <div class="row" style="padding-top: 20px;">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <b>Name:</b>
                            <p>{{HoTen}}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="/account/changename">
                                <button type="button" class="btn" style="width: 70px;">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <b>Email:</b>
                            <p>{{Email}}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="/account/changeemail">
                                <button type="button" class="btn" style="width: 70px;">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <b>Mobile Phone Number:</b>
                            <p>{{SDT}}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="/account/changephone">
                                <button type="button" class="btn" style="width: 70px;">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <b>Password:</b>
                            <p type="password">*********</p>
                        </div>
                        <div class="col-md-2">
                            <a href="/account/changepassword">
                                <button type="button" class="btn" style="width: 70px;">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/account">
            <button type="button" class="btn btn-primary" style="color: white;">Done</button>
        </a>
    </div>
    {{/with}}
</div>
<br>