<div style="margin: auto; width: 70%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Your Order Detail</span>
    </div>
    <div style="font-size: 18pt; padding-top: 30px; padding-bottom: 30px;">
        <b>Order Detail</b>
    </div>
    {{#each orderdetail}}
    <div class="well well-sm">
        <form action="" class="form-inline row">
            <div class="form-group col-lg-1 col-sm-1 col-md-1">
                <img src="/img/{{TenLoai}}/{{STTSanPham}}/small1.png" class="img-responsive">
            </div>
            <div class="form-group col-lg-3 col-sm-3 col-md-3" style="font-size: 16px;">
                <b>{{TenSP}}</b>
            </div>
            <div class="form-group col-lg-6 col-sm-6 col-md-6">
                Quantity: {{SoLuong}}
            </div>
            <div class="form-group col-lg-2 col-sm-2 col-md-2" style="font-weight: 600;">
                <b>Price: </b>
                <span style="color: red;">{{number_format GiaBan}} ₫</span>
            </div>
        </form>
    </div>   
    {{/each}}
    
    <div style="padding-top: 40px; text-align: center;"></div>
</div>
<br>
<br>
<br>