
<div style="margin: auto; width: 70%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Your Addess</span>
    </div>
    <div style="font-size: 18pt; padding-top: 15px;">
        <b>Your Address</b>
    </div>
    <div style="padding-top: 20px;">
        <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Add address</span>
        </a>
    </div>
</div>

<br>
<br>