{{#section 'index_script'}}
    <script type="text/javascript">
        var validate1 = function() {
            if ($('#txtUserphonenumber').val().length === 0 || $('#txtUserpassword').val().length === 0) {
                alert('Error! Phone number or password is empty!');
                return false;
            }

            return true;
        }
    </script>
{{/section}}

<div style="margin: auto; width: 45%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span>
            <a href="/account/info/{{STTTaiKhoan}}" style="padding-left: 10px;">Login & security</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Change mobile phone number</span>
    </div>
    <div style="font-size: 18pt; padding-top: 20px; padding-bottom: 30px;">
        <b>Change mobile phone number</b>
    </div>

    <div class="well" style="font-size: 10pt;">
        <span>Type your name new phone number below. Be sure to click <b>Save Changes</b> button when you have done.</span>
        <br>
        <br>
        <form action="" method="post" class="form-horizontal" role="form" onsubmit="return validate1();" style="padding-left: 15px;">
            <div class="form-group">
                <label for="txtUserphonenumber" class="control-label">New phone number:</label>
                <input type="number" class="form-control" id="txtUserphonenumber" name="phonenumber" style="width: 250px; height: 25px;">
            </div>
            <br>
             <div class="form-group">
                <label for="txtUserpassword" class="control-label">Password:</label>
                <input type="password" class="form-control" id="txtUserpassword" name="password" style="width: 250px; height: 25px;">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn-primary">Save change</button>
            </div>
        </form>
    </div>
</div>