{{#section 'index_script'}}
    <script type="text/javascript">
        console.log(document.getElementById("status").textContent);
        if(document.getElementById("status").value === "Delivered")
        {
            document.getElementById("status").style.color = "blue";
        }
        else
        {
            document.getElementById("status").style.color = "red";
        }
    </script>
{{/section}}

<div style="margin: auto; width: 70%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Your Order</span>
    </div>
    <div style="font-size: 18pt; padding-top: 30px; padding-bottom: 30px;">
        <b>Your Order</b>
    </div>
    {{#if noOrder}}
    <div style="padding-top: 40px; text-align: center;">
        <span>You have not placed any orders in past 6 months.</span>
        <span>
            <a href="#">View orders in 2018</a>
        </span>
    </div>
    {{else}}
    {{#each order}}
    <div class="well well-sm">
        <div> 
            <form action="" method="post" class="form-inline" role="form">
                <div class="form-group" style="padding-left: 10px;">
                    <span style="font-size: 18px; font-weight: 600;">Order </span>
                    <span style="color: blue; text-decoration: underline;">#{{STTDonHang}}</span>
                </div>
                <div style="float: right; padding-right: 20px;">
                    <a href="/account/order/{{STTDonHang}}"><button type="button" class="btn btn-info">Detail</button></a>
                </div>
            </form>
        </div>
        <div style="padding-left: 10px;"><b>Status: <span id="{{STTDonHang}}" style="color: red;">{{TinhTrang}}</span></b></div>
        <div style="padding-left: 10px;"><b>Receiver: </b>{{NguoiNhan}}</div>
        <div style="padding-left: 10px;"><b>Phone: </b>{{SDT}}</div>
        <div style="padding-left: 10px;"><b>Address: </b>{{DiaChi}}</div> 
    </div>
    {{/each}}
    {{/if}}
    
    <div style="padding-top: 40px; text-align: center;"></div>
</div>
<br>
<br>
<br>