{{#section 'index_script'}}
    <script type="text/javascript">
        var validate1 = function() {
            if ($('#txtUseroldpassword').val().length === 0 || $('#txtUsernewpassword').val().length === 0 || $('#txtUserrenewpassword').val().length === 0) {
                alert('Error! Passwords are empty!');
                return false;
            }else{
                if($('#txtUsernewpassword').val() !== $('#txtUserrenewpassword').val()){
                    alert('Error! Wrong Re-enter new password!');
                    return false;
                }
            }

            return true;
        }
    </script>
{{/section}}


<div style="margin: auto; width: 45%; padding: 10px;">
    <div>
        <span>
            <a href="/account">Your account</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span>
            <a href="/account/info/{{STTTaiKhoan}}" style="padding-left: 10px;">Login & security</a>
        </span>
        <span style="padding-left: 10px;">›</span>
        <span style="padding-left: 10px;">Change password</span>
    </div>
    <div style="font-size: 18pt; padding-top: 20px; padding-bottom: 30px;">
        <b>Change password</b>
    </div>

    <div class="well" style="font-size: 10pt;">
        <span>Type your name new password below. Be sure to click <b>Save Changes</b> button when you have done.</span>
        <br>
        <br>
        <form action="" method="post" class="form-horizontal" role="form" onsubmit="return validate1();" style="padding-left: 15px;">
            <div class="form-group">
                <label for="txtUseroldpassword" class="control-label">Current password:</label>
                <input type="password" class="form-control" id="txtUseroldpassword" name="oldpassword" style="width: 250px; height: 25px;">
            </div>
            <br>
            <div class="form-group">
                <label for="txtUsernewpassword" class="control-label">New password:</label>
                <input type="password" class="form-control" id="txtUsernewpassword" name="newpassword" style="width: 250px; height: 25px;">
            </div>
            <br>
            <div class="form-group">
                <label for="txtUserrenewpassword" class="control-label">Re-enter new password:</label>
                <input type="password" class="form-control" id="txtUserrenewpassword" name="renewpassword" style="width: 250px; height: 25px;">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn-primary">Save change</button>
            </div>
        </form>
    </div>
</div>