<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="icon" href="/img/ico.png" />
  <title>{{page_title}}</title>
  {{{_sections.admin_css}}} {{{_sections.admin_script}}}

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">
          <img src="/img/account/admin/mylogo.png" alt="logo" class="logo-img">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#myPage">HOME</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCT
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#productall">PRODUCT MANAGE</a>
              </li>
              <li>
                <a href="#producttypeall">PRODUCT TYPE MANAGE</a>
              </li>
              <li>
                <a href="#producerall">PRODUCER MANAGE</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#listorderall">LIST ORDER</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMIN
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/home">Go home</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img/account/admin/apple.jpg" alt="New York" width="100%">
        <div class="carousel-caption">
          <h3>APPLE COMPANY</h3>
          <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs,
            develops, and sells consumer electronics, computer software, and online services.</p>
        </div>
      </div>

      <div class="item">
        <img src="/img/account/admin/huawei.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>HUAWEI COMPANY</h3>
          <p>Huawei was founded in 1987 by Ren Zhengfei, a former engineer in the People's Liberation Army</p>
        </div>
      </div>

      <div class="item">
        <img src="/img/account/admin/samsung.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>SAMSUNG COMPANY</h3>
          <p>Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified
            into areas including food processing, textiles, insurance, securities and retail</p>
        </div>
      </div>

      <div class="item">
        <img src="/img/account/admin/asus.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>ASUS COMPANY</h3>
          <p>Asus is the world's 4th-largest PC vendor by 2015 unit sales. Asus appears in BusinessWeek’s "InfoTech 100" and
            "Asia’s Top 10 IT Companies" rankings, and it ranked first in the IT Hardware category of the 2008 Taiwan Top
            10 Global Brands survey with a total brand value of $1.3 billion.</p>
        </div>
      </div>

      <div class="item">
        <img src="/img/account/admin/xiaomi.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>XIAOMY COMPANY</h3>
          <p>Xiaomi released its first smartphone in August 2011 and has rapidly gained market share in China to become China's
            largest smartphone company in 2014</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {{{body}}}

  <!-- Footer -->
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br>
    <br>
    <p>Website Made By PTUDW Team 24</a>
    </p>
  </footer>

  <script>
    $(document).ready(function () {
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();

      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
  </script>
  <script>
    function myMap() {
      var myCenter = new google.maps.LatLng(41.878114, -87.629798);
      var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: false, mapTypeId: google.maps.MapTypeId.ROADMAP };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
      var marker = new google.maps.Marker({ position: myCenter });
      marker.setMap(map);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
</body>

</html>