<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/ico.png" />
    <title>{{page_title}}</title>

    {{{_sections.index_css}}}
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/home-page.css">
    <link rel="stylesheet" type="text/css" href="/assets/menu-aim.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div id="banner">
        <span>
            <img src="/img/banner1.png" alt="ProductPanel" style="height:100px; width:500px;">
        </span>
        <img src="/img/banner2.png" alt="Banner" style="float:right; padding-top:10px;">
    </div>
    <header>
        <div class="header" id="header">
            <div id="navbar" class="navbar navbar-default" role="navigation">
                {{!-- navbelt --}}
                <div id="navbelt" class="navbar-default" style="padding:10px;background-color:#232F3E">
                    <div class="row">
                        {{!-- Logo --}}
                        <div class="col-lg-2">
                            <a href="/home">
                                <img src="/img/logo1.png" style="height: 75px; width: 200px;">
                            </a>
                        </div>

                        {{!-- Search --}}
                        <div class="col-lg-7" class="btn-group" style="padding-top: 20px;">
                            <form id="search" action="" method="GET" role="form" class="input-group">
                                <div class="input-group-btn">
                                    <select id="searchBox" name="id" class="form-control" style="width:120px; padding:0;border-radius: 4px 0 0 4px">
                                        <option selected="selected">&nbsp;&nbsp;&nbsp;All</option>
                                        <optgroup label="Type"></optgroup>
                                        {{#each search.Types}}
                                        <option value="/products/search/{{TenLoai}}">&nbsp;&nbsp;&nbsp;{{TenLoai}}</option>
                                        {{/each}}
                                        <optgroup label="Brand"></optgroup>
                                        {{#each search.Brands}}
                                        <option value="/products/search/{{TenHang}}">&nbsp;&nbsp;&nbsp;{{TenHang}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <input class="form-control" type="text" placeholder="Search"></input>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" style="background-color:#F3A847">
                                        <span class="glyphicon glyphicon-search" style="color:#333333" aria-hidden="true">
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-3" style="color: white; text-align: center; font-size: 16pt; padding-top: 20px;">
                            <b>New Phones & Tablets here!</b>
                        </div>
                    </div>
                </div>

                <!-- navmain-->
                <div id="navmain" class="navbar-inverse" style="background-color:#232F3E">
                    <div class="row">
                        {{!-- Delivery Text --}}
                        <div class="col-lg-2" style="font-size:15px;color:white;">
                            <div>
                                <div class="glyphicon glyphicon-map-marker" style="color:white;font-size:25px; 
                                 top:20px; margin-left:20px"></div>
                                <div style=" margin-top:-15px">
                                    <span style="float:left; clear:both; margin-left:50px; font-size: 10pt;">Deliver to</span>
                                    <b style="float:left;clear:both; margin-left:50px; font-size: 10pt;">Vietnam</b>
                                </div>
                            </div>
                        </div>

                        {{!-- Menu --}}
                        <div class="col-lg-6" id="menu-shop" style="padding-top:5px">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="navbar-text" data-toggle="dropdown" href="#">
                                        <span style="font-size:15px;color:white;">
                                            <b>Menu</b>
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </span>
                                    </a>

                                    <ul class="dropdown-menu" role="menu">
                                        {{#each type}}
                                        <li data-submenu-id="submenu-{{this.name}}">
                                            <a href="/products/list/{{name}}" class="effect-shine" style="padding-bottom:10px;">
                                                <span style="font-size:20px; font-weight:600">{{this.name}}</span>
                                            </a>
                                            <div id="submenu-{{this.name}}" class="popover">
                                                <h3 class="popover-title">{{this.name}} Brands</h3>
                                                {{#each this.brands}}
                                                <div class="popover-content">
                                                    <a href="/products/list/{{../name}}/{{TenHang}}/{{STTHang}}">{{TenHang}}</a>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>

                                <li style="color: #B4BBC3; padding-top: 15px; box-shadow: none;">
                                    <a href="#">Browsing History</a>
                                </li>
                                <li style="color: #B4BBC3; padding-top: 15px;">
                                    <a href="#">Your Recommendations</a>
                                </li>

                                {{#if layoutVM.isLogged}}
                                <li style="color: #B4BBC3; padding-top: 15px;">
                                    <a href="admin/admin">Admin Mode</a>
                                </li>
                                {{/if}}
                            </ul>
                        </div>

                        {{!-- Function for User --}}
                        <div class="col-lg-4" id="menu-tool" style="margin-left: -60px">
                            {{!-- Language Option --}}
                            <a href="#" class="nav navbar-nav" id="languages">
                                <span class="navbar-text" style="color:white;">
                                    <span> EN </span>
                                    <br>
                                    <span>
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </span>
                                    <span style="border-right:1px solid #4F5965; width:4px; height:35px;
                                    margin-bottom:5px; float:right; margin-top:-20px;">
                                    </span>
                                </span>
                            </a>

                            {{!-- Sign in & Sign up --}}
                            <ul class="nav" style="padding-top:10px; float:left ">
                                <li class="dropdown">
                                    <a class="nav navbar-nav" href="#" id="sign-in" data-toggle="dropdown">
                                        {{#if layoutVM.isLogged}}
                                        <form id="formLogout" method="post" action="/home/logout"></form>
                                        <a href="/account">
                                            <span style="margin-left:0px; color:white;">
                                                <span>Hello.{{layoutVM.curUser.HoTen}}</span>
                                                <br>
                                                <span>
                                                    <span style="font-size:14px;">
                                                        <b>Accounts & Lists</b>
                                                    </span>
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </span>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-submenu-id="submenu-signin">
                                                <a id="linkLogout" href="javascript:;">
                                                    <button type="button" id="modal-btn" class="btn btn-default" style="box-shadow: inset 0 1px 0 0 #fcf3dc;
                                                    background: #f3ce72; width:150px; font-size:14px; border:1px solid;border-color: #c89411 #b0820f #99710d;"
                                                        data-toggle="modal">
                                                        Log out
                                                    </button>
                                                </a>
                                            </li>
                                            <li data-submenu-id="submenu-signup">
                                                <div style="margin: 7px 0 9px 0; text-align: center; font-size:11px; font-family: fantasy">
                                                    Want another Register?
                                                    <button id="btnsignup" type="button" style="text-decoration: underline; color: blue; background-color: white; border: none">
                                                        Start here
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                        {{else}}
                                        <span style="margin-left:0px; color:white;">
                                            <span>Hello. Sign in</span>
                                            <br>
                                            <span>
                                                <span style="font-size:14px;">
                                                    <b>Accounts & Lists</b>
                                                </span>
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li data-submenu-id="submenu-signin">
                                            <a href="#">
                                                <button type="button" id="modal-btn" class="btn btn-default" style="box-shadow: inset 0 1px 0 0 #fcf3dc;
                                                background: #f3ce72; width:150px; font-size:14px; border:1px solid;border-color: #c89411 #b0820f #99710d;"
                                                    data-toggle="modal">
                                                    Sign in
                                                </button>
                                            </a>
                                        </li>
                                        <li data-submenu-id="submenu-signup">
                                            <div style="margin: 7px 0 9px 0; text-align: center; font-size:11px; font-family: fantasy">
                                                New customer?
                                                <button id="btnsignup" type="button" style="text-decoration: underline; color: blue; background-color: white; border: none">
                                                    Start here
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                    {{/if}}
                                </li>
                            </ul>

                            {{!-- Order --}}
                            <a class="navbar-text" href="#" id="orders" style="color:white; font-size: 14px; padding-top: 18px">
                                <span>
                                    <b>Orders</b>
                                </span>
                            </a>
                            {{!-- Cart --}}
                            {{#if layoutVM.isLogged}}
                            <a href="/cart" id="cart" style="text-decoration:none; float: left; padding-top: 18px">
                                <span style="color:white;">
                                    <span class="glyphicon glyphicon-shopping-cart" style="font-size:30px;margin-left:10px"></span>
                                    <span style="font-size:14px; margin:0 1px;">
                                        <b>Carts </b>
                                    </span>
                                </span>
                            </a>
                            {{else}}
                            <a href="#" id="notLogin" style="text-decoration:none; float: left; padding-top: 18px">
                                <span style="color:white;">
                                    <span class="glyphicon glyphicon-shopping-cart" style="font-size:30px;margin-left:10px"></span>
                                    <span style="font-size:14px; margin:0 1px;">
                                        <b> Shop </b>
                                    </span>
                                </span>
                            </a>
                            {{/if}}
                        </div>

                        <!--Sign in Modal -->
                        <div id="signinModal" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content" style="padding-top: 50px; padding-bottom: 50px;">
                                    <span id="signinClose" class="close" style="margin-top: -1em">&times;</span>
                                    <div class="row">
                                        <img src="/img/logo2.png" alt="Sign in Logo" class="img-responsive center-block" style="height:90px">
                                    </div>

                                    <div class="owl">
                                        <div class="hand"></div>
                                        <div class="hand hand-r"></div>
                                        <div class="arms">
                                            <div class="arm"></div>
                                            <div class="arm arm-r"></div>
                                        </div>
                                    </div>

                                    <form action="/home/signin" method="POST" role="form">
                                        <div class="form">
                                            <h2 style="margin-top: -10px;font-family: Arial, Helvetica, sans-serif">
                                                <b>Sign in</b>
                                            </h2>
                                            <div class="control">
                                                <label for="txtEmail" class="fa fa-envelope"></label>
                                                <input class="form-control" data-rule-required="true" placeholder="Email" type="email" name="email" style="padding: 9px 6px 9px 30px"></input>
                                            </div>
                                            <div class="control">
                                                <label for="txtPWD" class="fa fa-asterisk"></label>
                                                <input class="form-control" data-rule-required="true" placeholder="Password" type="password" name="password" style="padding: 9px 6px 9px 30px"></input>
                                            </div>
                                            <div id="remmember" class="checkbox">
                                                <label class="col-xs-7 col-sm-7 col-lg-7">
                                                    <input type="checkbox"> Remmember me
                                                </label>
                                                <button class="col-xs-5 col-sm-5 col-lg-5" type="submit" style="background: white; border: none;text-decoration: underline;opacity: 0.7"
                                                    id="btnForgot">Forgot password</button>
                                            </div>
                                            <button type="submit" class="btn btn-default" style="margin-top: 2rem;">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Sign up Modal -->
                        <div class="modal" id="signupModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <span id="signupClose" class="close" style="margin-right: -0.2em; margin-top: -0.5em">
                                        &times;
                                    </span>
                                    <form id="signup_form" role="form">
                                        <div class="form" style="margin-top: 1em; height: 400px;">
                                            <span class="label label-primary" style="display:block; font-size: 18px; text-align: center; margin-top: -0.8em ;margin-bottom: 0.5em">
                                                <span class="glyphicon glyphicon-lock"></span>
                                                <b>Register</b>
                                            </span>
                                            <div class="control">
                                                <label for="username" class="glyphicon glyphicon-user"></label>
                                                <input class="form-control" name="username" id="txtUsername" placeholder="Your fullname" type="text" style="padding: 9px 6px 9px 30px"></input>
                                            </div>
                                            <div class="control">
                                                <label for="email" class="fa fa-envelope"></label>
                                                <input class="form-control" name="email" id="txtEmail" placeholder="Your Email" type="email" style="padding: 9px 6px 9px 30px"></input>
                                            </div>
                                            <div class="control">
                                                <label for="password" class="fa fa-asterisk"></label>
                                                <input class="form-control" name="password" id="txtPWD" placeholder="Enter your password" type="password" style="padding: 9px 6px 9px 30px"></input>
                                            </div>
                                            <div class="control">
                                                <label for="retypepassword" class="glyphicon glyphicon-eye-open"></label>
                                                <input class="form-control" name="retypepassword" id="retypePWD" placeholder="Confirm your password" type="password" style="padding: 9px 6px 9px 30px">
                                            </div>
                                            <div class="control">
                                                <label for="phone" class="glyphicon glyphicon-phone"></label>
                                                <input class="form-control" name="phone" id="txtPhone" placeholder="Your phone number" type="text" style="padding: 9px 6px 9px 30px">
                                            </div>
                                            <div class="g-recaptcha" data-sitekey="6LfpImEUAAAAABiivu0zwPJqZXi-5Z3bimrz5l2n"></div>
                                            <button type="submit" class="btn btn-success" style="margin-top: 0.5rem;">
                                                <span class="glyphicon glyphicon-ok-sign"></span>
                                                Sign up
                                            </button>
                                            <button type="reset" class="btn btn-danger" style="margin-top: 0.5rem;">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if showError}}
        <div class="container" style="padding-bottom: 50rem">
            <div class="alert alert-danger">
                <button type="button" class="close" aria-hidden="true">&times;</button>
                <strong>Something wrong!</strong>{{errorMsg}}
            </div>
        </div>
        {{/if}}
    </header>

    {{{body}}}

    <footer>
        <div class="footer" id="footer">
            <a href="#header" id="navBackToTop" class="nav_effect">
                <div class="navBackToTop">
                    <span class="navBackToTopText">Back to top</span>
                </div>
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-7">
                        <h3> About us </h3>
                        <ul>
                            <li>
                                <h5>Trần Tuấn Đạt - 1512105</h5>
                            </li>
                            <li>
                                <h5>Nguyễn Hoàng Quý - 1512447</h5>
                            </li>
                            <li>
                                <h5>Nguyễn Khoa Lữ - 1512310</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-7">
                        <h3>Contact & Support </h3>
                        <ul>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <h3> Address </h3>
                        <ul>
                            <li>
                                <span> 227 Nguyen Van Cu, District 5, Ho Chi Minh City </span>
                            </li>
                            <li>
                                <span> FIT - University of Science </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                        <h3>
                            <b> Subsrcibe for Newsletter </b>
                        </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn bg-gray" type="button"> Subsrcibe
                                        <i class="fa fa-long-arrow-right"> </i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <i class=" fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter">   </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest">   </i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube">   </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Bottom --}}
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © All right reserved 2018 | Designed & Developed by Team PTUWD </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li>
                            <i class="fa fa-cc-visa"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-mastercard"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-amex"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-paypal"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/slide/carousel.js"></script> {{{_sections.index_script}}}
    <script type="text/javascript" src="/assets/modal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        var $menu = $(".dropdown-menu");
        // Hook up events to be fired on menu row activation.
        $menu.menuAim({
            activate: activateSubmenu,
            deactivate: deactivateSubmenu
        });

        function activateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId),
                height = $menu.outerHeight(),
                width = $menu.outerWidth();
            // Show the submenu
            $submenu.css({
                display: "block",
                top: -1,
                left: width - 3,  // main should overlay submenu
                height: height + 280  // padding for main dropdown's arrow
            });
            // Keep the currently activated row's highlighted look
            $row.find("a").addClass("maintainHover");
        }
        function deactivateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId);
            // Hide the submenu and remove the row's highlighted look
            $submenu.css("display", "none");
            $row.find("a").removeClass("maintainHover");
        }

        $(".dropdown-menu li").click(function (e) {
            e.stopPropagation();
        });
        $(document).click(function () {
            // Simply hide the submenu on any click. Again, this is just a hacked
            // together menu/submenu structure to show the use of jQuery-menu-aim.
            $(".popover").css("display", "none");
            $("a.maintainHover").removeClass("maintainHover");
        });
    </script>
    <script type="text/javascript">
        toastr.options = {
            "preventDuplicates": true,
            positionClass: "toast-top-center"
        };

        $(function () {
            $('#signup_form').submit((e) => {
                e.preventDefault();
                var form = $('#signup_form');
                var ser = form.serializeArray();
                var formData = {};
                ser.forEach((e) => {
                    formData[e.name] = e.value;
                })
                var body = {
                    username: formData['username'],
                    email: formData['email'],
                    password: formData['password'],
                    phone: formData['phone'],
                    captcha: formData['g-recaptcha-response']
                }
                if ($('#txtUsername').val().length === 0 && $('#txtPWD').val().length === 0 &&
                    $('#retypePWD').val().length === 0 && $('#txtEmail').val().length === 0
                    && $('#txtPhone').val().length === 0) {
                    toastr.error(' Failed! You must fill before submit. ');
                    return false;
                }
                if ($('#txtUsername').val().length === 0) {
                    toastr.error(' Something Error! Username is blank ');
                    return false;
                }
                if ($('#txtPWD').val() !== $('#retypePWD').val()) {
                    toastr.error(' Something Error! Password not match, please retype again ');
                    return false;
                }
                if ($('#txtEmail').val().length === 0) {
                    toastr.error(' Something Error! Email is blank ');
                    return false;
                }
                if ($('#txtPhone').val().length === 0) {
                    toastr.error(' Something Error! Phone number is blank ');
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/home/signup",
                    data: body,
                    success: (data) => {
                        if (data.status === 'error') {
                            toastr.error('Register Failed! Try again');
                        } else {
                            toastr.success('Your Register have been successful!');
                            setTimeout(function () {
                                location = '/';
                            }, 2500);
                        }
                    },
                    error: (XMLHttpRequest, textStatus, errorThrown) => {
                        toastr.error(errorThrown, 'Register failed');
                    }
                });

            });
        });
    </script>
    <script type="text/javascript">
        document.getElementById('search').id.onchange = function () {
            var newaction = this.value;
            document.getElementById('search').action = newaction;
        };

        $('#linkLogout').on('click', function () {
            $('#formLogout').submit();
        });

        $('#notLogin').on('click', function () {
            toastr.error(' You must log in first! ');
        });
    </script>
</body>

</html>