body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
    
  }
.navbar-brand{
          padding: 0px;
}
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
.logo-img{
    
     height: 50px;
    padding-left: 15px;
}
.list-button-manage{
    text-decoration: none;
}
.list-button-manage a{
    color: #111;
    height: 40px;
}
.list-button-manage a:hover{
    opacity: .7;
    text-decoration-line: none;
    padding-bottom: 20px;
}
.list-button-manage li{
    display:inline;
}
.control-labe{
    text-align: left;
}
#view-one-product{
    height: 60px;
    margin-bottom: 10px;
}
#list-product-edit{
   
    max-height: 400px;
    overflow-y: scroll;
    margin-left: 10%;
}
#list-view-type{
     max-height: 400px;
    overflow-y: scroll;
    margin-left: 10%;
}
#list-product-producer{
    max-height: 400px;
    overflow-y: scroll;

}
.fa-edit:hover{
    color: #111;
}
.search-group{
    margin-bottom: 20px;
    
}
#view-one-product-type{
    height: 60px;
    background: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}
.panel-default a{
    
    color: #777;
}
.panel-default a:hover{
    color: #111;
}
#button-search{
        background: none;
    border: none;
}
.text-search{
    border: none;
    border-bottom: 1px solid #777;
    padding-left: 10px;
}
.text-search:focus{
   border: none;
}
#container-edit{
    margin-bottom: 30px;
}
.list-button-producttype{
    text-decoration: none;
    margin-bottom: 50px;
}
.list-button-producttype a{
    color: #f1f1f1;
    height: 40px;
}
.list-button-producttype a:hover{
    opacity: .7;
    text-decoration-line: none;
    padding-bottom: 20px;
}
.list-button-producttype li{
    display:inline;
    text-align: center;
    
}
#list-product-mobile{
    max-height: 400px;
    overflow-y: scroll;
    margin-left: 10%;
}
.list-button-producer{
    text-decoration: none;
    margin-bottom: 50px;
}
.list-button-producer a{
    color: #f1f1f1;
    height: 40px;
}
.list-button-producer a:hover{
    opacity: .7;
    text-decoration-line: none;
    padding-bottom: 20px;
}
.list-button-producer li{
    display:inline;
    text-align: center;
    
}
.logo-producer{
    margin-top: 10px;
    margin-left: 10px;
    max-height: 50px;
    max-width: 100px;
}
#mobile-product{
    margin-top: 20px;
}
#tablet-product{
    margin-top: 20px;
}
.onetypeclick{
    background: none;
    border: none;
    margin-right: 30px;
    max-width: 100px;
    text-align: left;
    
}
#onetype a{
    color: #f1f1f1;
}
#rycebintype{
    background: none;
    border: none;
}
#rycebintype:hover{
    color: #f1f1f1;
}
.onetypeclick:hover{
    color: white;
}
.btn-newtype{
    color: white;
    background: none;
    border: none;
    text-align: right;
    display: inline;
    right: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.txt-addtypename{
    border: none;
    border-bottom: 1px solid #777;
    color: #111;
}
.txt-addtypename:focus{
    border: none;
}
.txt-addtypeinfo{
    border: none;
    border-bottom: 1px solid #777;
    color: #111;
}
.txt-addtypeinfo:focus{
    border: none;
}
.list-view-order-button a{
    color: #f5be48;
    text-align: right;
}
.material-icons:hover{
    
}
#view-one-product-order{
    border: 1px solid white;
    margin-bottom: 20px;
    min-height: 70px;
}
#rycebinproducer{
    color: #111;
    background: none;
    border: none;
    margin-top: 20px;
}
#rycebinproducer:hover{
    color: #777;
}
#editproducer{
    color: #111;
    background: none;
    border: none;
    margin-top: 20px;
}
#editproducer:hover{
    color: #777;
}