.navbar .popover {
    width: 200px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}
.popover-title{
    font-family: arial,sans-serif;
    color: #E57F1B;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    white-space: normal;
    word-wrap: break-word;
}

.navbar .popover-content {
    text-align: left;
}
.navbar .popover-content img {
    height: 212px;
    max-width: 250px;
}

.navbar .dropdown-menu > li > a.maintainHover {
    color: #E57F1B;
    /* background-color: #626263; */
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 14px;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px double #232F3E;
    border: 1px double rgba(0, 0, 0, .15);
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  /* Arrow shape for menu */
  .navbar .nav > li > .dropdown-menu:before {
    position: absolute;
    top: -6px;
    left: 60px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -5px;
    left: 60px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }
  /* ------------------- */


.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #E57F1B;
  text-decoration: none;
  /* background-color: #626263; */
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
  }
  
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #232F3E;
    border: 1px solid #626263;
    border-radius: 4px 4px 4px 4px;
  }
 
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: #232F3E;
    border-color: #626263;
  }

  .navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 6px; 
}

/* Text effect */
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
