
.all{
   
}
.left{
    background-color: #F1F1F1;
    position: relative;
    position: fixed;
    height: auto + 5rem;
}
.right{
    position: relative;
    position: fixed;
}
.pagination{
    float: right;
}
.thumbnail{
    border: 1px solid black;

}
.thumbnail:hover{
    border: 1px solid blue;
    box-shadow: 1px 1px 1px 1px blue;

    
}
.thumbnail:hover .hovermore{opacity: 0.7}
.headshow{
    text-align: center;
     color: #007BFF;
}
.price{
    color: red;
}
.check{
    height: 3rem;
    width:8rem;
    float: right;
    margin-right: 5rem;
}
.check2{
    height: 3rem;
    width:17rem;
    float: right;
}
.findnc{
    padding-top: 1.3rem;
    height: 5rem;
    width: 19rem;;
    text-align: center;
    color: white;
    background-color: #232F3E;
    border-radius: 5px;
}
.name{
    color: #007BFF;
}
.checkHang{
    margin-top: 3rem;
}
.checkGia{
     margin-top: 3rem;
}
.checkLoai{
     margin-top: 3rem;
}
.checksao{
     margin-top: 3rem;
}
.btn btn-primary{
    margin-top: 2rem;
    padding-bottom: 3rem;
}
.check{
    color: orange;

}