.left{
    border-radius: 10px;
}
.right{
    border: 1px solid #E1E1E1;
     border-radius: 5px;

    margin-left: 5rem;
}
.a{
    background-color: darkblue;
}
.b{
    background-color: burlywood;
}
.c{
    background-color: firebrick;
}
.optiondeli{
    background-color: white;
    border: 1px solid #E1E1E1;
    margin-left: 3rem;
    text-align: center;
    border-radius: 5px;
}
.botleft{
    height: 30rem;   
}
.infoproduct:hover{
        box-shadow: 1px 1px 1px 1px;
}
.infoproduct{
    border: 1px solid #E1E1E1;
    margin-top: 1rem;
    background-color: white;
    border-radius: 5px;
    height: 3rem;
}
.thumbnail{
    margin-top: 1rem;
    position: fixed;
    height: auto;
    border: 1px solid white;
}
.h33{

}
.quantity{
 
}
.price{
    margin-top: 1em;
    color: red;
}
.thumbnail2{
    margin-top: 2em;
}
.thumbnail1{
    margin-top: 1em;
}

.headright{
    background-color: #F57224;
    margin-top: 1rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 4px;
    
}
.adress{
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 1rem;
}
.insertloc{
  opacity: 0.7;
    margin-top: 1rem;
}
.editloc{
    color: #1A9CB7;
    margin-top: 1rem;
    background-color: white;
    border: none;
   padding-left: 1rem;
}

  .modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      border-top: 1px solid blue;
      background-color: white;
      text-align: right;
      margin-left: 80%;
  }
.btn-block{
    background-color: #F57224;
}
.inforder{
    border-bottom: 1px solid #E1E1E1; 
    padding-bottom: 2rem;
}
.editinfo{
    text-align: right;
}
