{{#section 'index_css'}}
<link rel="stylesheet" type="text/css" href="/assets/slide/carousel-master/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/slide/carousel-master/slick/slick-theme.css" /> {{/section}} {{#section 'index_script'}}
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="/assets/slide/carousel-master/slick.js"></script> {{/section}}


{{#if showError}}
{{else}}
<div class="container-fluid" style="padding-bottom:50px">
    {{!-- Left Side --}}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container-fluid">
            <h2 style="font-family:Impact, fantasy">&nbsp;&nbsp;&nbsp;Top 10 latest products</h2>
            <hr style="background-color: #232F3E; height: 2px; margin: 0px;">
        </div>
        <div style="margin-left:5px; padding-top:20px">
            <div class="container-fluid">
                <div class="my-slick autoplay">
                    {{#each latest}}
                    <div class="col-lg-2">
                        <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}">
                            <div class="thumbnail" style="height: 250px;">
                                <img class="img-responsive" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png">
                            </div>
                        </a>
                        <span class="caption label label-danger" style="display: block; white-space: normal; font-size: 16px">
                            {{TenSP}}
                        </span>
                    </div>
                    {{/each}}
                </div>
                <!-- my-slick -->
            </div>
        </div>

        <div class="container-fluid">
            <h2 style="font-family: Impact, fantasy; clear:both; padding-top:40px;">&nbsp;&nbsp;&nbsp;Top 10 best seller products </h2>
            <hr style="background-color: #232F3E; height: 2px; margin: 0px;">
        </div>
        <div style="margin-left:5px; padding-top:20px">
            <div class="container-fluid">
                <div class="my-slick autoplay">
                    {{#each best_seller}}
                    <div class="col-lg-2">
                        <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}">
                            <div class="thumbnail" style="height: 250px;">
                                <img class="img-responsive" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png">
                            </div>
                        </a>
                        <span class="caption label label-danger" style="display: block; white-space: normal; font-size: 16px">
                            {{TenSP}}
                        </span>
                    </div>
                    {{/each}}
                </div>
                <!-- my-slick -->
            </div>
        </div>

        <div class="container-fluid">
            <h2 style="font-family: Impact, fantasy; clear:both; padding-top:40px">&nbsp;&nbsp;&nbsp;Top 10 most-viewed products </h2>
            <hr style="background-color: #232F3E; height: 2px; margin: 0px;">
        </div>
        <div style="margin-left:5px; padding-top:20px">
            <div class="container-fluid">
                <div class="my-slick autoplay">
                    {{#each view}}
                    <div class="col-lg-2">
                        <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}">
                            <div class="thumbnail" style="height: 250px;">
                                <img class="img-responsive" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png">
                            </div>
                        </a>
                        <span class="caption label label-danger" style="display: block; white-space: normal; font-size: 16px">
                            {{TenSP}}
                        </span>
                    </div>
                    {{/each}}
                </div>
                <!-- my-slick -->
            </div>
        </div>
    </div>

    {{!--Right Banner --}}
    <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 60px;">
        <div class="row">
            <img class="img-responsive" style="padding-left: 20px;" src="/img/Advertise/samsung.jpg" alt="Advertise Samsung">
        </div>
        <br>
        <div class="row">
            <img class="img-responsive" style="padding-left: 20px;" src="/img/Advertise/oppo2.jpg" alt="Advertise Oppo">
        </div>
    </div> 
</div>
{{/if}}