{{#section 'index_css'}}
    <script type="text/javascript" src="/assets/products/detail/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="/assets/products/detail/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/products/list/css/didong.css">
{{/section}}

 {{#section 'index_script'}}
    <script type="text/javascript">
    {{#with product}}
        function changeImg(image) {
            if (image.name === "img1") {
                mainImg.src = "/img/{{TenLoai}}/{{STTSanPham}}/normal1.png"
            }
            else {
                mainImg.src = "/img/{{TenLoai}}/{{STTSanPham}}/normal2.jpg"
            }
        }
        $("#mainImg").elevateZoom();
    {{/with}}
    </script>
{{/section}}   
 
<div class="container-fluid">
    {{#with product}}
    <form class="row" method="post" onsubmit="return true;" role="form">
        <!--Small images-->
        <div class="col-lg-1">
            <div class="row" style="padding-left: 10px;">
                <img src="/img/{{TenLoai}}/{{STTSanPham}}/small1.png" style="height: 35px; width: 35px; border-style: groove;border-width: 1px;" 
                name="img1" onmouseover="changeImg(this)">
            </div>
            <br>
            <div class="row" style="padding-left: 10px;">
                <img src="/img/{{TenLoai}}/{{STTSanPham}}/small2.jpg" style="height: 35px; width: 35px; border-style: groove;border-width: 1px;"
                name="img2" onmouseover="changeImg(this)">
            </div>
        </div>
        <!--Image Presentation-->
        <div class="col-lg-4">
            <img src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png" style="height: 460; width: 100%" name="mainImg" id="mainImg" data-zoom-image="public/img/large/1.png">
        </div>

        <!--Detail-->
        <div class="col-lg-5">
            <span style="font-size: 20pt; font-weight: 500;">{{TenSP}}</span>
            <br>
            <span class="fa fa-star" style="color: orange;"></span>
            <span class="fa fa-star" style="color: orange;"></span>
            <span class="fa fa-star" style="color: orange;"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span style="font-size: 10pt;">
                <a href="#">{{LuotMua}} Buy | {{LuotXem}} views</a>
            </span>
            <hr style="margin-top: 3px; margin-bottom: 5px;">
            <span style="font-size: 20pt; color: red; font-weight: 700;">{{number_format GiaBan}}₫</span>
            <span style="font-size: 12pt; font-weight: 700;">(Quantity: {{SoLuong}})</span>
            <br>
            <span style="font-size: 18pt;">Features:</span>
            <table class="table">
                <tbody>
                    {{{ThongTinSP}}}
                </tbody>
            </table>
        </div>

        <!--Buttons function-->
        <div class="col-lg-2">
            <div class="row" style="text-align: center;">
                <span class="text-info">Share</span>
                <span class="glyphicon glyphicon-envelope" style="vertical-align: text-bottom; font-size: 14pt; padding-left: 5px;"></span>
                <span class="fa fa-facebook-square" style="vertical-align: bottom;font-size: 15pt; color:   #3b5998; padding-left: 5px;"></span>
                <span class="fa fa-twitter" style="vertical-align: bottom;font-size: 15pt; color:   #1dcaff; padding-left: 5px;"></span>
                <span class="fa fa-pinterest-p" style="vertical-align: bottom;font-size: 15pt; color: #bd081c; padding-left: 5px;"></span>
            </div>
            <div class="row" style="text-align: center; padding-right: 10px; padding-left: 10px; font-size: 10pt; padding-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            <span>To buy, select</span>
                            <span style="font-weight: 700">Size</span>
                            <br>
                            <span>Choose from option to the left</span>
                        </p>
                        <button type="submit" class="btn" name="AddToCart" id="AddToCart" value="AddToCart" style="background-color: #F2CE76; width: 100%; height: 40px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                            <span class="glyphicon glyphicon-shopping-cart" style="text-align: left; color: #F3F9FA; font-size:14pt;"></span>
                            <span style="padding-left: 3px;">Add to Cart</span>
                        </button>
                        <hr>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="quantity">Quantity: </label>
                                <input class="form-control" type="number" min="1" id="quantity" name="quantity" value="1" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-right: 10px; padding-left: 10px;">
                <input type="number" style="display: none;" id="productid" name="productid" value="{{STTSanPham}}">
            </div>
        </div>
    </form>
    {{/with}}

    <hr style="border-top: 2px solid #8c8b8b; margin-bottom: 6px;">

    <!--Product Related-->
    <div class="row" style="padding-left: 15px;">
        <div class="row" style="padding-bottom: 20px;">
            <span style="font-size: 20pt; font-weight: 700; padding-left: 20px;">Products Related</span>
        </div>

        <!--5 Product Related-->
        <div class="row" style="margin-left: 30px">
            {{#each product_same_type}}
            <form method="post" role="form" onsubmit="return true;">
                <div class="col-md-2 col-lg-2">
                    <div class="thumbnail" style="height: 350px;">
                        <img class="hovermore" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png" alt="{{TenSP}}" style="width:250px; height:200px">
                        <div class="caption" style="height:50px; padding:10px 0;">
                            <h4 style="margin-left:10px">{{TenSP}}</h4>
                        </div>
                        <p class="price" style="font-size:16px; margin-left:10px; padding-top:10px">{{number_format GiaBan}} ₫</p>
                        <div style="text-align:center; margin-bottom:30px">
                            <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}" class="btn btn-primary" role="button">
                                Detail
                            </a>
                            <button type="submit" id="addtocart" name="addtocart" value="{{STTSanPham}}" class="btn btn-default" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        
        <!--5 Product Related-->

        <hr style="border-top: 2px solid #8c8b8b; margin-bottom: 6px;">
        <div class="row" style="padding-bottom: 20px;">
            <span style="font-size: 20pt; font-weight: 700; padding-left: 20px;">Same Brand Products</span>
        </div>

        <!--5 Same Brand Products-->
        <div class="row" style="margin-left: 30px;">
            {{#each product_same_brand}}
            <form method="post" role="form" onsubmit="return true;">
                <div class="col-md-2 col-lg-2">
                    <div class="thumbnail" style="height: 350px;">
                        <img class="hovermore" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png" alt="{{TenSP}}" style="width:250px; height:200px">
                        <div class="caption" style="height:50px; padding:10px 0;">
                            <h4 style="margin-left:10px">{{TenSP}}</h4>
                        </div>
                        <p class="price" style="font-size:16px; margin-left:10px; padding-top:10px">{{number_format GiaBan}} ₫</p>
                        <div style="text-align:center; margin-bottom:30px">
                            <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}" class="btn btn-primary" role="button">
                                Detail
                            </a>
                            <button type="submit" id="addtocart" name="addtocart" value="{{STTSanPham}}" class="btn btn-default" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        
    </div>
</div>
<br>