{{#section 'index_css'}}
    <link rel="stylesheet" type="text/css" href="/assets/products/list/css/didong.css"> 
{{/section}}


<div class="container-fluid" style="padding-bottom:50px">
    <div class="all">
        {{!-- Left Side Bar --}}
        <div class="col-xs-2 col-sm-2 col-lg-2 left">
            <h4 class="findnc">
                <span class="glyphicon glyphicon-search"></span> Advanced search</h4>
            <div class="checkGia">
                <h4 class="name">Price</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Less than 2.000.000</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">2.000.000 - 5.000.000</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">5.000.000 - 10.000.000</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">More than 10.000.000</label>
                </div>
            </div>
            <div class="checksao">
                <h4 class="name">Rating</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">1 star</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">2 star</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">3 star</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">4 star</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">5 star</label>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Confirm</button>
        </div>

        {{!-- Products List --}} 
        {{#if noProducts}}
        <div class="col-xs-10 col-sm-10 col-lg-10 right">
            <div class="row" style="margin-left: 30px">
                <h2>Không có sản phẩm tại danh mục này.</h2>               
            </div>
        </div>
        {{else}}
        <div class="col-xs-10 col-sm-10 col-lg-10 right">
            <div class="row">
                {{#each products}}
                <form method="post" role="form" onsubmit="return true;" class="col-sm-5 col-md-3">
                    <div class="thumbnail" style="height: 400px;">
                        <img class="hovermore" src="/img/{{TenLoai}}/{{STTSanPham}}/normal1.png" alt="{{TenSP}}" style="width:300px; height:250px">
                        <div class="caption" style="height:50px; padding:10px 0;">
                            <h4 style="margin-left:10px">{{TenSP}}</h4>
                        </div>
                        <p class="price" style="font-size:16px; margin-left:10px; padding-top:10px">{{number_format GiaBan}} ₫</p>
                        <div style="text-align:center; margin-bottom:30px">
                            <a href="/products/detail/{{STTLoai}}/{{STTHang}}/{{STTSanPham}}" class="btn btn-primary" role="button">
                                Detail
                            </a>
                            <button type="submit" id="addtocart" name="addtocart" value="{{STTSanPham}}" class="btn btn-default" role="button">Add to Cart</button>
                        </div>
                    </div>
                </form>
                {{/each}}
            </div>
        </div>
        <nav aria-label="Page navigation" style="margin-right:2em">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{#each page_numbers}} 
                {{#if isCurPage}}
                <li class="active">
                    <a href="javascript:;">{{value}}</a>
                </li>
                {{else}}
                <li>
                    <a href="?page={{value}}">{{value}}</a>
                </li>
                {{/if}} 
                {{/each}}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        {{/if}}
    </div>
</div>