{{#section 'index_css'}}
    <link rel="stylesheet" href="/assets/products/list/css/paymoney.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
{{/section}}

{{#section 'index_script'}}
    <script>
        $(document).ready(function () {
            $("#btnEdit").click(function () {
                $("#editModal").modal();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#btnEditinfo").click(function () {
                $("#editModalinfo").modal();
            });
        });
    </script>
    <script type="text/javascript">
        var checkbox = function() {
            if ($('#receivername').val() == "" && $('#phonenumber').val() == "" && $('#email').val() == "" && $('#address').val() == "")
            {
                alert('Please fill the form!');
                return false;
            }
            else
            {
                return true;
            }
        }
    </script>
{{/section}}    

<!-- Body  -->
<div class="container-fluid" style="padding-bottom:50px">
    <div class="col-xs-7 col-sm-7 col-lg-7 left">
        {{#each items}}
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-lg-12 infoproduct" style="height: 15rem;">
                <div class="col-xs-2 col-sm-2 col-lg-2 thumbnail2" style="height: 10rem;">
                    <img src="/img/{{Product.TenLoai}}/{{Product.STTSanPham}}/normal1.png" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6" style="padding-top: 20px;">
                    <h4 style="font-weight: 600">{{Product.TenSP}}</h4>
                    <p style="font-size: 16px;">{{Product.TenHang}}</p>
                    <form action="" method="post" onsubmit="return true;">
                        <input type="number" value="{{Product.STTSanPham}}" style="display: none;" id="productid" name="productid">
                        <button type="submit" style="border: none; background-color: white; font-size:24px" class="fa fa-trash-o" name="deletebutton" id="deletebutton" value="deletebutton">
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4" style="padding-top: 8px;">
                    <h3 style="font-weight:550; font-size: 1.5em; text-align: right; color: red;">{{number_format Amount}}₫</h3>
                    <h4 style="color: black; text-align: right">Quantity</h4>
                    <form name=myform style="color: black;">
                        <input type="number" min="1" value="{{Quantity}}" style="width: 60px; float: right;" class="form-control">
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if noInfo}}
    <div class="col-xs-4 col-sm-4 col-lg-4 right">
        <div class="col-xs-12 col-sm-12 col-lg-12 headright">
            <h4>PAYMENT INFORMATION</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 infoperson">
            <h4>Receiver's Information</h4>
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="col-xs-11 col-sm-11 col-lg-11 insertloc">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                    <span class="glyphicon glyphicon-phone"></span>
                </div>
                <div class="col-xs-9 col-sm-9 col-lg-9 insertloc">
                    <p></p>
                </div>
                <button type="button" class="col-xs-2 col-sm-2 col-lg-2 editloc" id="btnEditinfo">Edit</button>
            </div>
            <div class="modal fade" id="editModalinfo" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px; background-color: #F57224">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>
                                <span class="glyphicon glyphicon-lock"></span> Receiver's Infomation</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <form role="form" method="post" role="form" onsubmit="return checkbox();">
                                <div class="form-group">
                                    <label for="usrname">Receiver's Name </label>
                                    <input type="text" class="form-control" id="receivername" name="receivername" placeholder="Nguyễn Văn A">
                                </div>
                                <div class="form-group">
                                    <label for="psw">Receiver's Phone number</label>
                                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="0123456789">
                                </div>
                                <div class="form-group">
                                    <label for="psw">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="MrA@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="psw">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="227 Nguyễn Văn Cừ, Quận 5, TP.HCM">
                                </div>
                                <button type="submit" class="btn btn-success btn-block" style="background-color: #F57224; border: #F57224" name="receiverinfobutton" id="receiverinfobutton" value="receiverinfobutton">
                                    <span class="glyphicon glyphicon-off"></span> Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 adress">
            <h4>Adress</h4>
            <div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                    <i class="material-icons" style="font-size:20px">edit_location</i>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-lg-11 insertloc">
                        <p></p>
                    </div>
                </div>
                <div class="modal fade" id="editModal" role="dialog">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 inforder">
            <h4>Info Order</h4>
            <div class="col-xs-7 col-sm-7 col-lg-7" style="text-align: left; opacity: 0.7">
                <p>Temporary price (1 Product)</p>
                <p>Transport fee:</p>
            </div>
            <div class="col-xs-5 col-sm-5 col-lg-5" style="text-align: right; font-weight: 600">
                <p> {{number_format Summary}}₫</p>
                <p>Free Ship</p>
            </div>
            <div class="input-group-btn row">
                <input type="text" class="col-xs-9 col-sm-9 col-lg-9 form-control" id="usrname" placeholder="Enter Discount Code" style="width: 70%">
                <button type="button" class="col-xs-3 col-sm-3 col-lg-3 btn btn-info">Apply</button>
            </div>
            <div style="margin-top: 1rem;">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <h4>Sumary</h4>
                </div>
                <div class="col-xs-8 col-sm-8 col-lg-8" style="text-align: right">
                    <h4 style="color: #F57224;">{{number_format Summary}}₫</h4>
                    <p style="opacity: 0.7">Included VAT</p>
                </div>
                <div style="text-align: center">
                    <button type="button" class=" col-xs-12 col-sm-12 col-lg-12 btn btn-success">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{#with receiverinfo}}
    <form method="post" role="form" onsubmit="return true;">
        <div class="col-xs-4 col-sm-4 col-lg-4 right">
            <div class="col-xs-12 col-sm-12 col-lg-12 headright">
                <h4>PAYMENT INFORMATION</h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 infoperson">
                <h4>Receiver's Information</h4>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-lg-11 insertloc">
                        <input name = "receivername2" value="{{ReceiverName}}"" style="border: 0;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-lg-9 insertloc">
                        <input name = "phonenumber2" value="{{PhoneNumber}}" style="border: 0;">
                    </div>
                    <button type="button" class="col-xs-2 col-sm-2 col-lg-2 editloc" id="btnEditinfo">Edit</button>
                </div>
                <div class="modal fade" id="editModalinfo" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:35px 50px; background-color: #F57224">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>
                                    <span class="glyphicon glyphicon-lock"></span> Receiver's Infomation</h4>
                            </div>
                            <div class="modal-body" style="padding:40px 50px;">
                                <form role="form" method="post" role="form" onsubmit="return checkbox();">
                                    <div class="form-group">
                                        <label for="usrname">Receiver's Name </label>
                                        <input type="text" class="form-control" id="receivername" name="receivername" placeholder="Nguyễn Văn A">
                                    </div>
                                    <div class="form-group">
                                        <label for="psw">Receiver's Phone number</label>
                                        <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="0123456789">
                                    </div>
                                    <div class="form-group">
                                        <label for="psw">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="MrA@gmail.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="psw">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" placeholder="227 Nguyễn Văn Cừ, Quận 5, TP.HCM">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block" style="background-color: #F57224; border: #F57224" name="receiverinfobutton" id="receiverinfobutton" value="receiverinfobutton">
                                        <span class="glyphicon glyphicon-off"></span> Confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 adress">
                <h4>Adress</h4>
                <div>
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-lg-1 insertloc">
                        <i class="material-icons" style="font-size:20px">edit_location</i>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-lg-9 insertloc">
                            <input name = "address2" value="{{Address}}" style="border: 0;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 inforder">
                <h4>Info Order</h4>
                <div class="col-xs-7 col-sm-7 col-lg-7" style="text-align: left; opacity: 0.7">
                    <p>Temporary price (1 Product)</p>
                    <p>Transport fee:</p>
                </div>
                <div class="col-xs-5 col-sm-5 col-lg-5" style="text-align: right; font-weight: 600">
                    <p> {{number_format Summary}}₫</p>
                    <p>Free Ship</p>
                </div>
                <div class="input-group-btn">
                    <input type="text" class="col-xs-9 col-sm-9 col-lg-9 form-control" id="usrname" placeholder="Enter Discount Code" style="width: 70%">
                    <button type="button" class="col-xs-3 col-sm-3 col-lg-3 btn btn-info">Apply</button>
                </div>
                <div style="margin-top: 1rem;">
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <h4>Sumary</h4>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-lg-8" style="text-align: right">
                        <h4 style="color: #F57224;">{{number_format Summary}}₫</h4>
                        <p style="opacity: 0.7">Included VAT</p>
                    </div>
                    <div style="text-align: center">
                        <button type="submit" name="confirmorder" id="confirmorder" value="confirmorder" class="col-xs-12 col-sm-12 col-lg-12 btn btn-success">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{/with}}
    {{/if}}
</div>