{{#section 'index_css'}}
    <link rel="stylesheet" type="text/css" href="/assets/products/list/css/didong.css"> 
{{/section}}


<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
    <div style="text-align: center;">
        <img src="/img/success.png" style="width: 150px; height: 150px;">
    </div>
    <div style="font-size: 40px; text-align: center; font-weight: 600; padding-top: 50px; padding-bottom: 30px;">Thank you!</div>
    <div style="text-align: center;">
        <a href="/home">Back to homepage</a>
    </div>  
</div>